<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="appId" value="ERP11738174" />
    <add key="secret" value="kBlun6O2HV5uuTYBtkCrVUXdOpKZcl" />
    <add key="aesKey" value="zPBvNlBGBaUr3Duk" />
    <add key="yzjHost" value="https://yunzhijia.com" />
  </appSettings>
</configuration>